In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import seaborn as sns
import re
import os

In [2]:
%cd /home/stepan/kaggle/students_nure

/home/stepan/kaggle/students_nure

In [3]:
%ls

data/  parse/  review/

In [4]:
%ls data/

parsed/  raw/  result.pdf

In [5]:
data_path = 'data/parsed/'
data_files = [f for f in os.listdir(data_path) if re.match(r'pzpi.+', f)]

In [6]:
data_files

['pzpi3.csv', 'pzpi1.csv', 'pzpi5.csv', 'pzpi0.csv', 'pzpi6.csv']

In [7]:
dframes = []
for file in data_files:
    name = file[:-4]
    print(name)
    df = pd.read_csv(data_path + file)
    df.loc[:, 'semester'] = name[-1]
    dframes.append(df)

pzpi3
pzpi1
pzpi5
pzpi0
pzpi6

In [8]:
data = pd.concat(dframes)
data

,П.І.Б,Рейтинг,Група,Додаткова\rінформація,semester
0,Кудінова Анна Олександрівна,98.407,ПЗПІ-17-4 (анг),NaN,3
1,Ховрат Артем Вячеславович,98.112,ПЗПІ-17-3 (анг),NaN,3
2,Титаренко Степан Андрійович,97.846,ПЗПІ-17-3 (анг),NaN,3
3,Тесленко Денис Максимович,97.314,ПЗПІ-17-3 (анг),NaN,3
4,Лузан Микита Олександрович,96.95,ПЗПІ-17-1 (анг),NaN,3
...,...,...,...,...,...
192,Надиров Кирило Вадимович,не розраховується,ПЗПІ-17-9,контракт,6
193,Носов Олексій Валерійович,не розраховується,ПЗПІ-17-9,контракт,6
194,Перетяга Максим Юрійович,не розраховується,ПЗПІ-17-9,контракт,6
195,Полтавець Микита Юрійович,не розраховується,ПЗПІ-17-9,контракт,6
196,Циганок Дар`Я Андріївна,не розраховується,ПЗПІ-17-9,контракт,6

In [9]:
data.columns=['name', 'mark', 'group', 'additional_info', 'semester']
data.loc[:, 'additional_info'] = data['additional_info'].str.replace('\r', ' ')

In [10]:
data.to_csv(data_path + 'data.csv')